.todoList {
    display: flex;
    flex-flow: row wrap;
    /* border: solid 3px purple; */
}

.todoBox {
    /* border: solid 2px pink; */
    margin: 2%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 255, 179, 0.4);
    border: solid 2px cornsilk;
    color: white;
}

.emptyList {
    color: rgba(228, 228, 228, .5)
}

.completed {
    background-color: rgba(0, 0, 0, 0.10);
    color: rgba(0, 0, 0, 0.3);
    border: solid 2px transparent;
}

@media (prefers-reduced-motion: no-preference) {
    .todoBox {
      animation: todoBox-float infinite 3s ease-in-out;
    }

    .completed {
        animation: none;
    }
  }

@keyframes todoBox-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}