form {
    /* border: solid 2px red; */
    display: flex;
    flex-flow: column wrap;
    width: 40vw;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

form label {
    border: none;
    /* height: 100%; */
}

form input {
    align-self: center;
    width: 90%;
    height: 5vmin;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 5px;
    /* border-bottom-color: rgba(0, 0, 0, 0.2); */
    border-bottom-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: bold;
}

input:focus {
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.8);
}